.footer {
  display: flex;
  height: 3rem;
  gap: 1rem;
  align-items: flex-end;
}

@media (max-width: 42em) {
  .footer {
    display: flex;
    flex-direction: column;
    gap: 0;
    justify-content: center;
    align-items: center;
  }
}
