.half-width {
  width: 50%;
}

.project-subtitle {
  font-size: 1.6rem;
  font-weight: bold;
}

.dropdown {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  width: fit-content;
}

.dropdown-icon {
  width: 25px;
  height: 25px;
}

.small-text {
  font-size: 1.5rem;
}

.bullet-dropdown-closed {
  max-height: 0;
  opacity: 0;
  transition: all 0.7s;
  overflow: hidden;
}

.bullet-dropdown-open {
  max-height: 24rem;
  opacity: 1;
  transition: all 0.7s;
}

.li {
  list-style: square;
  margin-bottom: 10px;
}

@media (max-width: 57em) {
  .li {
    font-size: 1.2rem;
  }
}

@media (max-width: 57em) {
  .li {
    font-size: 1rem;
  }
}

@media (max-width: 39em) {
  .dropdown {
    gap: 0.4rem;
  }

  .dropdown-icon {
    height: 15px;
    width: 15px;
  }

  .li {
    font-size: 0.8rem;
  }
}
